{% load static %}
<!DOCTYPE html>
<html class="html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
    <div class ="container header">
    <spam class="header__title">Starbucks - Castlebank Street - 65720</spam>
    <nav>
    <ul class="nav__list">
        <li><a class="nav__item" href="{% url 'home' %}">Home</a></li>
        <li><a class="nav__item" href="{% url 'partner_home' %}">Partners</a></li>
        <li><a class="nav__item" href="https://www.starbucks.com/menu">Menu</a></li>
    </ul>
</nav>
<nav class="auth-nav">
    {% if user.is_authenticated %}
      <span>Logged in as: <span class="logged-in-username">{{ user.username }}</span></span>
      <a class="logout_details" href="{% url 'accounts_logout' %}">Log out</a>
    {% else %}
      <a class="login_details" href="{% url 'accounts_login' %}">Log In</a>
      <span> | </span>
      <a class="login_details" href="{% url 'accounts_register' %}">Register</a>
    {% endif %}
  </nav>
</div>
</header>
</body>
</html>
{% block content %}
{% endblock content %}