{% load static %}
<!DOCTYPE html>
<html class="html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
    <div class ="container header">
    <spam class="header__title">Starbucks - Castlebank Street - 65720</spam>
    <nav>
    <ul class="nav__list">
        <li class="nav__item"><a href="{% url 'home' %}"><button class="base_button">Home</button></a></li>
        <li class="nav__item"><a href="{% url 'partner_home' %}"><button class="base_button">Partners</button></a></li>
        <li class="nav__item"><a href="https://www.starbucks.com/menu"> <button class="base_button">Menu</button></a></li>
    </ul>
</nav>
</div>
</header>
</body>
</html>
{% block content %}
{% endblock content %}