{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <header>
    <div class ="container header">
    <spam class="header__title">Starbucks - Castlebank Street - 65720</spam>
    <nav>
    <ul class="nav__list">
        <li class="nav__item"><a href="{% url 'home' %}">Home</a></li>
        <li class="nav__item"><a href="{% url 'partner_home' %}">Partners</a></li>
        <li class="nav__item"><a href="https://www.starbucks.com/menu">Menu</a></li>
    </ul>
</nav>
</div>
</header>
<hr>
<footer class="footer">
<p>Contact us:  Address: 290 Castlebank Street, Glasgow, G11 6EX</p>
<p>Telephone: 0141 473 4255</p>
<p>Email: s65720@retail.starbucks.com</p>
</footer>
{% block content %}
{% endblock content %}
</body>
</html>