{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baristas</title>
</head>
<body>
<h1 class="barista__title">Baristas</h1>
{% for barista in barista %}
<ul class="barista__cards">
    <li class="barista__card">
        <h2 class="barista__card-title">{{ barista.name }}</h2>
        <img class="barista__image" src="{{ barista.barista_image.url }}" alt="Barista">
        <p class="barista__card-info">{{ barista.role }}</p>
        <p class="barista__card-info">{{ barista.partner_number }}</p>
    </li>
</ul>
<nav class="facts">
<p class="fact">Fun Fact</p>
</nav>
<p class="fact__details">{{ barista.fact }}</p>
{% endfor %}
<footer class="barista_footer">
    <p>Contact us:  Address: 290 Castlebank Street, Glasgow, G11 6EX</p>
    <p>Telephone: 0141 473 4255</p>
    <p>Email: s65720@retail.starbucks.com</p>
    </footer>
</body>
</html>
{% endblock content %}