{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Masters</title>
</head>
<body>
<h1 class="coffee-master__title">Coffee Masters</h1>
<section class="coffee-master">
    <div>
        <img class="coffee-master__image" src="https://images.pexels.com/photos/1419939/pexels-photo-1419939.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Coffee Beans">
        <img class="coffee-master__image-02" src="https://images.pexels.com/photos/302901/pexels-photo-302901.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Coffee">
        <img class="coffee-master__image-03" src="https://images.pexels.com/photos/851553/pexels-photo-851553.jpeg" alt="Coffee">
        <p class="coffee-master__text">Coffee Masters are partners that have expert knowledge about Starbucks coffee. From questions about brew and roast methods and Starbucks history to the fundamentals of a good cup of joe, coffee masters have the answers. The 2 Coffee Masters we have in store are Niamh and Aoife!</p>
    </div>
</section>
<footer class="coffee-master_footer">
    <p>Contact us:  Address: 290 Castlebank Street, Glasgow, G11 6EX</p>
    <p>Telephone: 0141 473 4255</p>
    <p>Email: s65720@retail.starbucks.com</p>
    </footer>
</body>
</html>
{% endblock content %}