{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management</title>
</head>
<body>
<h1 class="management__title">Management</h1>
{% for manager in manager %}
<ul class="management__cards">
    <li class="management__card">
        <h2 class="management__card-title">{{ manager.name }}</h2>
        <img class="management__image" src="{{ manager.manager_image.url }}" alt="Manager">
        <p class="management__card-info">{{ manager.role }}</p>
        <p class="management__card-info">{{ manager.partner_number }}</p>
    </li>
</ul>
<nav class="facts">
<p class="fact">Fun Fact</p>

</nav>
<p class="fact__details">{{ manager.fact }}</p>
{% endfor %}
<footer class="management_footer">
    <p>Contact us:  Address: 290 Castlebank Street, Glasgow, G11 6EX</p>
    <p>Telephone: 0141 473 4255</p>
    <p>Email: s65720@retail.starbucks.com</p>
    </footer>
</body>
</html>
{% endblock content %}