@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    background-color: rgb(1,108,64);
    color: white;
}

.base_button{
  padding: 8px;
  border-radius: 10px;
  color: white;
  background-color:rgb(28, 134, 2);
  font-weight: bold;
  transition: 0.2s ease background-color, 0.2s ease color;
  cursor: pointer;
}

.nav__list {
    display: flex;
    list-style-type: none;
}

.nav__item {
    margin-left: 18px;   
}

.header__title {
    font-weight: bold;
}

.mission_statement__image {
    margin-top: 10px;
    margin-left: 520px;
    background-color: rgb(1,108,64);
    border: 10px solid rgb(1,108,64);
    display: block;
    width: 400px;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mission_statement__text{
    width: 400px;
    font-weight: bold;
    margin: auto;
    color: rgb(1,108,64);
    border: 10px solid rgb(1,108,64);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cards {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-right: -16px;
  }

  .card {
    width: calc(25% - 16px);
    background-color: rgb(1,108,64);
    border-radius: 14px;
    border: 10px solid rgb(1,108,64);
    padding: 14px;
  }

  .card__image {
    width: 100%;
    border-radius: 15px;
    height: 120px;
    object-fit: cover;
  }
  
  .card__title {
    margin-top: 16px;
    color: white;
    font-size: 20px;
  }

  .card__button {
    margin-top: 32px;
    background-color: rgb(28, 134, 2);
    color: white;
    border: none;
    text-transform: uppercase;
    width: 100%;
    padding: 12px 0;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease background-color, 0.2s ease color;
    cursor: pointer;
  }

.card__button:hover {
    background-color: rgb(6, 198, 35);
    color: white;
  }
  
.footer {
  width: 100%;
  background-color: rgb(1,108,64);
  color: white;
  margin-top: 20px;
}

.partner_cards {
  margin-top: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-right: -16px;
}

.partner_card {
  width: calc(25% - 16px);
  background-color: rgb(1,108,64);
  border-radius: 14px;
  border: 10px solid rgb(1,108,64);
  padding: 14px;
}

.partner_card__image {
  width: 100%;
  border-radius: 15px;
  height: 120px;
  object-fit: cover;
}

.partner_card__title {
  margin-top: 16px;
  color: white;
  font-size: 20px;
}

.partner_card__button {
  margin-top: 32px;
  background-color: rgb(28, 134, 2);
  color: white;
  border: none;
  text-transform: uppercase;
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.2s ease background-color, 0.2s ease color;
  cursor: pointer;
}

.card__button:hover {
  background-color: rgb(6, 198, 35);
  color: white;
}

.partner_card__button:hover {
  background-color: rgb(6, 198, 35);
  color: white;
}

.home_button{
  margin-top: 32px;
  background-color: rgb(28, 134, 2);
  color: white;
  border: none;
  text-transform: uppercase;
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.2s ease background-color, 0.2s ease color;
  cursor: pointer;
}

.management__title{
  width: 400px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 550px;
  color: rgb(1,108,64);
  border: 8px solid rgb(1,108,64);
  border-radius: 10px;
  text-align: center;
}

.management__cards {
  flex-direction: row;
  margin-top: 20px;
  list-style: none;
  gap: 16px;
  margin-right: -16px;
  margin-left: 16px;
}

.management__card {
  height: 467px;
  width: 427px;
  background-color: rgb(1,108,64);
  border-radius: 14px;
  border: 10px solid rgb(1,108,64);
  padding: 14px;
}

.management__card-title{
  height: 67px;
  width: 343px;
  color: white;
}

.management__card-info{
  color: white;
}

.facts{
flex-direction: row;
margin-top: 20px;
gap: 16px;
background-color:rgb(1,108,64); 
height: 233.5px;
width: 413.5px;
border-radius: 14px;
border: 10px solid rgb(1,108,64);
padding: 7px;
margin-right: 450px;
margin-left: 16px;
margin-top: -350px;
float: right;
}

.fact{
  text-align:center;
  background-color: rgb(1,108,64);
  color: white;
  text-decoration-line: underline;
}

.fact__details{
  text-align:center;
  color: white;
  flex-direction: row;
  margin-top: 20px;
  gap: 16px;
  height: 227.5px;
  width: 413.5px;
  padding: 7px;
  margin-right: 450px;
  margin-left: 16px;
  margin-top: -300px;
  float: right;
}

.barista__title{
  width: 400px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 550px;
  color: rgb(1,108,64);
  border: 8px solid rgb(1,108,64);
  border-radius: 10px;
  text-align: center;
}

.barista__cards {
  flex-direction: row;
  margin-top: 20px;
  list-style: none;
  gap: 16px;
  margin-right: -16px;
  margin-left: 16px;
}

.barista__card {
  height: 460px;
  width: 427px;
  background-color: rgb(1,108,64);
  border-radius: 14px;
  border: 10px solid rgb(1,108,64);
  padding: 14px;
}

.barista__card-title{
  height: 67px;
  width: 343px;
  color: white;
}

.barista__card-image {
  height: 255px;
  width: 302px;
  border-radius: 15px;
  object-fit: cover;
}

.barista__card-info{
  color: white;
}

.potq_fact{
  color: white;
}

.potq_card__image{
  height: 255px;
  width: 302px;
  border-top: 100px;
  border-radius: 15px;
  object-fit: cover;
}

.potq_card {
  width: calc(25% - 16px);
  background-color: rgb(1,108,64);
  border-radius: 14px;
  border: 10px solid rgb(1,108,64);
  padding: 14px;
}

.name {
    color: white;
    text-decoration-line: underline;
}

.coffee-master__title{
  width: 400px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 520px;
  color: rgb(1,108,64);
  border: 8px solid rgb(1,108,64);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
}

.coffee-master__image {
  background-color: rgb(1,108,64);
  border: 10px solid rgb(1,108,64);
  display: block;
  width: 400px;
  height: 350px;
  margin: auto;
}

.coffee-master__text{
  width: 400px;
  font-weight: bold;
  margin: auto;
  color: rgb(1,108,64);
  border: 10px solid rgb(1,108,64);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.coffee-master__image-02 {
  background-color: rgb(1,108,64);
  border: 10px solid rgb(1,108,64);
  width: 400px;
  height: 350px;
  margin-right: 66px;
  border-radius: 10px;
  margin-top: -300px;
  margin-left: 45px;
  float: left;
}

.coffee-master__image-03 {
  background-color: rgb(1,108,64);
  border: 10px solid rgb(1,108,64);
  width: 400px;
  height: 350px;
  border-radius: 10px;
  margin-top: -300px;
  margin-right: 45px;
  float: right;
}

.barista_footer {
  width: 100%;
  background-color: rgb(1,108,64);
  color: white;
  margin-top: 20px;
}

.partner_footer{
  position: absolute;
  bottom: 0;
  background-color: rgb(1,108,64);
  color: white;
  width: 100%;
}

.management_footer {
  width: 100%;
  background-color: rgb(1,108,64);
  color: white;
  margin-top: 20px;
}

.potq_footer{
  width: 100%;
  background-color: rgb(1,108,64);
  color: white;
  margin-top: 20px;
}

.coffee-master_footer{
  position: absolute;
  bottom: 0;
  background-color: rgb(1,108,64);
  color: white;
  width: 100%;
}

.partners__title{
  width: 400px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 550px;
  color: rgb(1,108,64);
  border: 8px solid rgb(1,108,64);
  border-radius: 10px;
  text-align: center;
}

.favourites__title{
  width: 400px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 550px;
  color: rgb(1,108,64);
  border: 8px solid rgb(1,108,64);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.favourites__title-02{
  width: 400px;
  font-weight: bold;
  margin-left: 550px;
  color: white;
  background-color: rgb(1,108,64);;
  border: 10px solid rgb(1,108,64);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.favourites__footer{
  width: 100%;
  background-color: rgb(1,108,64);
  color: white;
  margin-top: 20px;
}

.favourites__card-title{
  height: 67px;
  width: 343px;
  color: white;
}

.favourites__card-info{
  color: white;
}

.favourites__card-recipes{
  color: white;
}

.favourites__card {
  height: 460px;
  width: 427px;
  background-color: rgb(1,108,64);
  border-radius: 14px;
  border: 10px solid rgb(1,108,64);
  padding: 14px;
}

.favourites__card-title-02{
  color: white;
  text-decoration-line: underline;
}

.drink_image{
  height: 255px;
  width: 302px;
  border-radius: 15px;
  object-fit: cover;
}

.favourites__recommender{
  color: white;
}

.favourites__customization{
  color: white;
  gap: 16px;
  height: 227.5px;
  width: 413.5px;
  padding: 7px;
  margin-right: 450px;
  margin-left: 16px;
  margin-top: -300px;
  float: right;
}

.management__image{
  height: 300px;
  width: 302px;
  border-radius: 15px;
  object-fit: cover;
}

.barista__image{
  height: 300px;
  width: 302px;
  border-radius: 15px;
  object-fit: cover;
}

