{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="mission_statement">
<div>
<img class="mission_statement__image" src="https://images.pexels.com/photos/303324/pexels-photo-303324.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Starbucks Store">
<p class="mission_statement__text">
    "to inspire and nurture the human spirit - one person, one cup and one neighbourhood at a time."
</p>
</div>
</section>
<nav>
 <ul class="cards">
    <li class="card">
    <h2 class="card__title">Partner of the Quarter - Q1</h2>
    <img class="card__image" src="https://images.pexels.com/photos/4349736/pexels-photo-4349736.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Niamh Condron">
    <a href="{% url 'potq_home' %}"><button class="home_button" type="button">Niamh's Story</button></a>
    <li class="card">
    <h2 class="card__title">We're Hiring!</h2>
    <img class="card__image" src=https://images.pexels.com/photos/5409658/pexels-photo-5409658.jpeg?auto=compress&cs=tinysrgb&w=800 alt="Barista">
    <a href="https://www.starbucksemeacareers.com/en"><button class="home_button" type="button">Apply Now</button></a>
    <li class="card">
    <h2 class="card__title">Our Recommendations!</h2>
    <img class="card__image" src="https://images.pexels.com/photos/704748/pexels-photo-704748.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Hearts">
    <a href="{% url 'favourites_home' %}"><button class="home_button" type="button">Barista Favourites!</button></a>
    <li class="card">
    <h2 class="card__title">Keep up to date!</h2>
    <img class="card__image" src=https://images.pexels.com/photos/4350198/pexels-photo-4350198.jpeg?auto=compress&cs=tinysrgb&w=800 alt="Baristas">
    <a href="https://www.instagram.com/starbuckspartickdrivethru/"><button class="home_button" type="button">Follow on Instagram</button></a>
    </nav>
<footer class="footer">
    <p>Contact us:  Address: 290 Castlebank Street, Glasgow, G11 6EX</p>
    <p>Telephone: 0141 473 4255</p>
    <p>Email: s65720@retail.starbucks.com</p>
    </footer>
{% endblock content %}

